<div class="exit-modal-overlay">
  <div class="exit-modal-dialog">
    <h2 class="exit-modal-title">You are now leaving this site</h2>
    <p class="exit-modal-body">
      You are about to leave this website. The site you are navigating to is not owned or controlled by us. We are not responsible for the content or privacy practices of the linked site.
    </p>
    <div class="exit-modal-buttons">
      <button class="exit-modal-btn-disagree">Stay on this site</button>
      <button class="exit-modal-btn-agree">Continue</button>
    </div>
  </div>
</div>
